@charset "UTF 8";
.slide-open {
    position: absolute;
    top: 0; right: 0;
    width: 50px; height: 50px;
    cursor: pointer;
    background-color: pink;
}
.burgur {
    right: 15px; top: 23px;
    position: absolute;
    width: 20px; height: 2px;
    background-color: #fafaf8;
}
.burgur .top-line {
    width: 20px; height: 2px;
    background-color: #fafaf8;
    bottom: -5px;
    content: '';
    position: absolute;
    right: 0;
    transition: transform 0.3s;
}
.burgur .bottom-line {
    width: 20px; height: 2px;
    background-color: #fafaf8;
    top: -5px;
    content: '';
    position: absolute;
    right: 0;
    transition: transform 0.3s;
}
.burgur.on {
    width: 0;
}
.burgur.on .bottom-line {
    transform: translateY(5px) rotate(135deg);
}
.burgur.on .top-line {
    transform: translateY(-5px) rotate(-135deg);
}