@charset "UTF-8";
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fafaf8;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 20px;
}

img,
input,
textarea,
select {
  vertical-align: middle; /* 수직 가운데 정렬 */
}

select {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select:focus {
  outline: 0;
}

img {
  width: 100%;
  display: block;
}

strong {
  display: block;
  font-style: normal;
}

address {
  display: inline;
  font-style: normal;
}

h1 {
  font-size: 46px;
}

h2 {
  display: block;
  font-size: 43px;
}

h3 {
  display: block;
  font-size: 40px;
}

header,
nav,
main,
aside,
section,
article,
footer,
select,
button,
span {
  display: block;
}

body {
  background-color: #131313;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (min-width: 1024px) {
  .container {
    padding: 0 10px;
  }
}

.blur-bg {
  position: absolute;
  top: -1%;
  left: 0;
  z-index: 299;
  transform: translateX(-110%);
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.blur-bg.on {
  transform: translateX(0%);
}

.gradation-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 50rem;
  background: radial-gradient(circle at 50% -10%, #b5a7d1 20%, #6c5c92 40%, #575d9c 60%, #131313 100%);
  filter: blur(40px);
}

#topbtn {
  display: none;
  position: fixed;
  top: 90%;
  right: 5%;
  z-index: 99;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  line-height: 50px;
  text-align: center;
  background-color: #b3d335;
  cursor: pointer;
}
#topbtn p {
  display: block;
  font-size: 1.5rem;
  font-family: pretendard, sans-serif;
  color: #394191;
  font-weight: 500;
}
#topbtn:hover {
  animation: eff24-move 0.4s linear 1;
  background-color: #394191;
}
#topbtn:hover p {
  color: #fafaf8;
}
@keyframes eff24-move {
  30% {
    transform: translate3d(0, -5px, 0) rotate(5deg);
  }
  50% {
    transform: translate3d(0, -3px, 0) rotate(-4deg);
  }
  80% {
    transform: translate3d(0, 0, 0) rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* header */
.logo-menu-box {
  height: 100%;
}
.logo-menu-box .header-flex-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  position: relative;
}
.logo-menu-box .header-flex-box .logo h1 {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-size: 2.66rem;
  animation: tracking-in-expand 0.7s;
}
@media (min-width: 1024px) {
  .logo-menu-box .header-flex-box .logo h1 {
    font-size: 5.3333rem;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 1024px) {
  .logo-menu-box .header-flex-box .slide-open {
    display: none;
  }
}
@media (min-width: 360px) {
  .logo-menu-box .header-flex-box .menu {
    z-index: 300;
    transform: translate(-110%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s;
    background: transparent;
  }
  .logo-menu-box .header-flex-box .menu li a {
    text-align: center;
    display: block;
    padding: 20px;
    font-size: 2.5rem;
    color: #fafaf8;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .logo-menu-box .header-flex-box .menu li a:hover {
    transform: scale(0.9);
  }
  .logo-menu-box .header-flex-box .menu.on {
    transform: translate(0%);
  }
}
@media (min-width: 1024px) {
  .logo-menu-box .header-flex-box .menu {
    position: relative;
    transform: translate(0%);
    display: block;
    width: 50%;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    background-color: transparent;
  }
}
@media (min-width: 1024px) {
  .logo-menu-box .header-flex-box .menu .gnb {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .logo-menu-box .header-flex-box .menu .gnb li {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
  }
  .logo-menu-box .header-flex-box .menu .gnb li a {
    color: #fafaf8;
    background-color: transparent;
    border-bottom: none;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    border-bottom: 0;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .logo-menu-box .header-flex-box .menu .gnb li a:hover {
    transform: scale(0.9);
  }
}

/* main */
.intro {
  margin-top: 3.5rem;
  margin-bottom: 8rem;
}
@media (min-width: 1024px) {
  .intro {
    margin-top: 10rem;
    margin-bottom: 20.8rem;
  }
}
.intro .txt-img-box {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 1024px) {
  .intro .txt-img-box {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .intro .txt-img-box .txt {
    width: 55%;
  }
}
.intro .txt-img-box .txt h2 {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 600;
  font-size: 6.667rem;
  line-height: 6.26rem;
  margin-bottom: 2.5rem;
  opacity: 0;
  animation: focus-in-expand 0.7s 0.5s forwards;
}
@media (min-width: 1024px) {
  .intro .txt-img-box .txt h2 {
    font-size: 7.67rem;
    line-height: 6.5rem;
    margin-bottom: 5rem;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
.intro .txt-img-box .txt p {
  font-family: pretendard, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}
@media (min-width: 1024px) {
  .intro .txt-img-box .txt p {
    font-size: 2.1rem;
    line-height: 3.2rem;
  }
}
.intro .txt-img-box .txt #first-intro {
  margin-bottom: 2rem;
  animation: text-focus-in 0.7s;
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.intro .txt-img-box .txt #last-intro {
  margin-bottom: 4.7rem;
}
.intro .txt-img-box .txt ul {
  width: 53%;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 1024px) {
  .intro .txt-img-box .txt ul {
    display: flex;
    justify-content: space-between;
    width: 552.19px;
    text-align: left;
    margin: 0;
  }
}
.intro .txt-img-box .txt ul li {
  opacity: 0;
  margin-bottom: 3rem;
}
.intro .txt-img-box .txt ul li:first-child h3 {
  color: #b3d335;
}
.intro .txt-img-box .txt ul li:first-child:hover {
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transform: scale(1.15) rotate(4deg);
}
.intro .txt-img-box .txt ul li:first-child {
  animation: text-focus-in 1s 1.5s forwards;
}
.intro .txt-img-box .txt ul li:nth-child(2) h3 {
  color: #394191;
}
.intro .txt-img-box .txt ul li:nth-child(2):hover {
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transform: scale(1.15) rotate(4deg);
}
.intro .txt-img-box .txt ul li:nth-child(2) {
  animation: text-focus-in 1s 2.2s forwards;
}
.intro .txt-img-box .txt ul li:last-child h3 {
  color: #c2b2d7;
}
.intro .txt-img-box .txt ul li:last-child:hover {
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transform: scale(1.15) rotate(4deg);
}
.intro .txt-img-box .txt ul li:last-child {
  animation: text-focus-in 1s 2.9s forwards;
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.intro .txt-img-box .txt ul li h3 {
  font-family: pretendard, sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}
.intro .txt-img-box .txt ul li p {
  font-family: pretendard, sans-serif;
  font-weight: 300;
  font-size: 1.86rem;
}
.intro .txt-img-box .img {
  width: 100%;
  animation: tossing 2s linear infinite;
}
@media (min-width: 1024px) {
  .intro .txt-img-box .img {
    position: absolute;
    right: 0;
    top: -6rem;
    width: 58%;
  }
}
@keyframes tossing {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

.section-title {
  font-family: amandine, sans-serif;
  font-weight: 300;
  font-size: 6rem;
  color: #b3d335;
  text-align: center;
  opacity: 0;
}
@media (min-width: 1024px) {
  .section-title {
    font-size: 18.3rem;
  }
}
.section-title span {
  display: contents;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  color: #b3d335;
  white-space: nowrap;
}

.section-title.active {
  animation: tracking-in-expand 1s forwards;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
#about-me {
  margin-bottom: 150px;
}
@media (min-width: 1024px) {
  #about-me {
    margin-bottom: 208px;
  }
}
#about-me .section-intro-txt {
  margin-top: 4rem;
  margin-bottom: 5rem;
}
@media (min-width: 1024px) {
  #about-me .section-intro-txt {
    margin-top: 138px;
    margin-bottom: 114px;
  }
}
#about-me .section-intro-txt h3 {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
  color: #b3d335;
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  #about-me .section-intro-txt h3 {
    font-size: 8rem;
  }
}
#about-me .section-intro-txt p {
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-size: 2.13rem;
}
@media (min-width: 1024px) {
  #about-me .section-intro-txt p {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  #about-me .img-txt-box {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    height: 200%;
    align-items: center;
  }
}
#about-me .img-txt-box .circled-box {
  position: relative;
  width: 85.555%;
  margin: 0 auto;
}
#about-me .img-txt-box .circled-box:after {
  display: block;
  content: " ";
  padding-bottom: 100%;
}
#about-me .img-txt-box .circled-box .gradation-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  background: linear-gradient(to bottom right, #d1c9e4 30%, #f2f8ff 70%, #bedb6b 100%);
  filter: blur(5px);
}
#about-me .img-txt-box .circled-box .black-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 97%;
  height: 97%;
  background-color: #131313;
  border-radius: 50%;
}
#about-me .img-txt-box .circled-box .deco-circle {
  position: absolute;
  top: 17%;
  left: 25%;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background: linear-gradient(to bottom, #e5ea95 50%, #bedb6b 100%);
}
#about-me .img-txt-box .circled-box .me {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 65%;
}
#about-me .img-txt-box .about-txt {
  margin-top: 45px;
}
#about-me .img-txt-box .about-txt .txt-list li.main-tag {
  margin-bottom: 3rem;
}
@media (min-width: 1024px) {
  #about-me .img-txt-box .about-txt .txt-list li.main-tag {
    margin-bottom: calc(50px + 1vh);
  }
}
@media (min-width: 1024px) {
  #about-me .img-txt-box .about-txt .txt-list li.main-tag:nth-child(1) {
    margin-left: -30%;
  }
}
@media (min-width: 1024px) {
  #about-me .img-txt-box .about-txt .txt-list li.main-tag:nth-child(2) {
    margin-left: 0%;
  }
}
@media (min-width: 1024px) {
  #about-me .img-txt-box .about-txt .txt-list li.main-tag:nth-child(3) {
    margin-left: 13%;
  }
}
@media (min-width: 1024px) {
  #about-me .img-txt-box .about-txt .txt-list li.main-tag:nth-child(4) {
    margin-left: 13%;
  }
}
@media (min-width: 1024px) {
  #about-me .img-txt-box .about-txt .txt-list li.main-tag:nth-child(5) {
    margin-left: 0%;
    width: 200%;
  }
}
@media (min-width: 1024px) {
  #about-me .img-txt-box .about-txt .txt-list li.main-tag:nth-child(6) {
    margin-left: -30%;
    width: 170%;
  }
}
#about-me .img-txt-box .about-txt .txt-list li.main-tag h4 {
  font-family: acumin-pro, sans-serif;
  font-size: 2.4rem;
  color: #b3d335;
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  #about-me .img-txt-box .about-txt .txt-list li.main-tag h4 {
    font-size: 4.66rem;
  }
}
#about-me .img-txt-box .about-txt .txt-list li.main-tag .flex-txt {
  display: flex;
  gap: 3.88%;
  margin-bottom: 0.8rem;
  align-items: center;
}
#about-me .img-txt-box .about-txt .txt-list li.main-tag .flex-txt h5 {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-size: 1.86rem;
  font-weight: 500;
}
@media (min-width: 1024px) {
  #about-me .img-txt-box .about-txt .txt-list li.main-tag .flex-txt h5 {
    font-size: 2.93rem;
  }
}
#about-me .img-txt-box .about-txt .txt-list li.main-tag .flex-txt p {
  font-family: pretendard, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 4px;
}
@media (min-width: 1024px) {
  #about-me .img-txt-box .about-txt .txt-list li.main-tag .flex-txt p {
    font-size: 2.93rem;
  }
}
#about-me .img-txt-box .about-txt .txt-list li.main-tag .character-list,
#about-me .img-txt-box .about-txt .txt-list li.main-tag .inter-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
@media (min-width: 1024px) {
  #about-me .img-txt-box .about-txt .txt-list li.main-tag .character-list,
  #about-me .img-txt-box .about-txt .txt-list li.main-tag .inter-list {
    width: 55%;
  }
}
#about-me .img-txt-box .about-txt .txt-list li.main-tag .character-list li,
#about-me .img-txt-box .about-txt .txt-list li.main-tag .inter-list li {
  font-size: 1.6rem;
  margin: 0;
}
@media (min-width: 1024px) {
  #about-me .img-txt-box .about-txt .txt-list li.main-tag .character-list li,
  #about-me .img-txt-box .about-txt .txt-list li.main-tag .inter-list li {
    font-size: 2.93rem;
  }
}

#myskills {
  margin-bottom: 150px;
}
@media (min-width: 1024px) {
  #myskills {
    margin-bottom: 207px;
  }
}
#myskills h2.section-title {
  margin-bottom: 40px;
  color: #c2b2d7;
}
#myskills h2.section-title #title-txt {
  color: #c2b2d7;
}
@media (min-width: 1024px) {
  #myskills h2.section-title {
    margin-bottom: 143px;
  }
}
#myskills .skill-list {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 2%;
}
@media (min-width: 1024px) {
  #myskills .skill-list {
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    grid-template-rows: 53% 53%;
    grid-gap: 2%;
  }
}
#myskills .skill-list li {
  width: 100%;
}
#myskills .skill-list li .squared-box {
  width: 100%;
  position: relative;
}
#myskills .skill-list li .squared-box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
#myskills .skill-list li .squared-box .gradient-square {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right bottom, #d9d3e6 30%, #908fc6 60%, #695490 100%);
  border-radius: 10%;
  filter: blur(3px);
}
#myskills .skill-list li .squared-box .black-square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98%;
  height: 98%;
  border-radius: 10%;
  padding: 12%;
  background-color: #131313;
}
#myskills .skill-list li .squared-box .black-square .skill-title {
  position: relative;
  width: 100%;
  height: 100%;
}
#myskills .skill-list li .squared-box .black-square .skill-title strong {
  font-size: 1.7rem;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
  margin-bottom: 5px;
}
@media (min-width: 1024px) {
  #myskills .skill-list li .squared-box .black-square .skill-title strong {
    font-size: 2.6667rem;
    margin-bottom: 10px;
  }
}
#myskills .skill-list li .squared-box .black-square .skill-title h3.persent {
  font-size: 3.9rem;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 700;
  color: #c2b2d7;
}
@media (min-width: 1024px) {
  #myskills .skill-list li .squared-box .black-square .skill-title h3.persent {
    font-size: 6.6667rem;
  }
}
#myskills .skill-list li .squared-box .black-square .skill-title .icon {
  position: absolute;
  width: 30%;
  height: 30%;
  right: 0;
  bottom: 0;
}
@media (min-width: 1024px) {
  #myskills .skill-list li .squared-box .black-square .skill-title .icon {
    width: 37%;
    height: 37%;
  }
}
#myskills .skill-list li .squared-box .black-square .skill-title .icon img {
  width: 100%;
  height: 100%;
}
#myskills .skill-list li .squared-box .black-square .hover-txt {
  display: none;
}
#myskills .skill-list li .squared-box .black-square {
  opacity: 0.6;
}
#myskills .skill-list li .squared-box .black-square .skill-title {
  position: relative;
}
#myskills .skill-list li .squared-box .black-square .skill-title .icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 27%;
  height: 27%;
}
#myskills .skill-list li .squared-box .black-square .skill-title .hover-txt {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#myskills .skill-list li .squared-box .black-square .skill-title .hover-txt p {
  font-size: 1.236rem;
  line-height: auto;
}

#portfolio h2.section-title {
  margin-bottom: 150px;
}
@media (min-width: 1024px) {
  #portfolio h2.section-title {
    margin-bottom: 207px;
  }
}
@media (min-width: 1024px) {
  #portfolio .web {
    display: flex;
    gap: 18%;
  }
}
#portfolio .web .portfolio-title {
  display: block;
  width: 37%;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-size: 3.3333rem;
  font-weight: 300;
  line-height: 3.0667rem;
  color: #b3d335;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  #portfolio .web .portfolio-title {
    font-size: 8rem;
    line-height: 7.6rem;
  }
}
#portfolio .web .web-work-list li.work-li {
  margin-bottom: 40px;
}
#portfolio .web .web-work-list li.work-li:hover img {
  transform: scale(1.05);
}
@media (min-width: 1024px) {
  #portfolio .web .web-work-list li.work-li {
    margin-bottom: 56px;
  }
}
#portfolio .web .web-work-list li.work-li img {
  width: 100%;
  margin-bottom: 15px;
  transition: transform 0.5s;
}
@media (min-width: 1024px) {
  #portfolio .web .web-work-list li.work-li img {
    margin-bottom: 25px;
  }
}
@media (min-width: 1024px) {
  #portfolio .web .web-work-list li.work-li .title-btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
#portfolio .web .web-work-list li.work-li .title-btn-box .work-title {
  margin-bottom: 15px;
}
@media (min-width: 1024px) {
  #portfolio .web .web-work-list li.work-li .title-btn-box .work-title {
    margin: 0;
  }
}
#portfolio .web .web-work-list li.work-li .title-btn-box .work-title h4 {
  font-family: pretendard, sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  color: #b3d335;
  margin-bottom: 8px;
}
@media (min-width: 1024px) {
  #portfolio .web .web-work-list li.work-li .title-btn-box .work-title h4 {
    font-size: 3.5rem;
  }
}
#portfolio .web .web-work-list li.work-li .title-btn-box .work-title .work-tag-list {
  display: flex;
  gap: 8px;
}
#portfolio .web .web-work-list li.work-li .title-btn-box .work-title .work-tag-list li {
  font-family: acumin-pro, sans-serif;
  font-size: 0.9rem;
}
@media (min-width: 1024px) {
  #portfolio .web .web-work-list li.work-li .title-btn-box .work-title .work-tag-list li {
    font-size: 1.7rem;
  }
}
#portfolio .web .web-work-list li.work-li .title-btn-box .btn-list {
  display: flex;
  gap: 13px;
}
@media (min-width: 1024px) {
  #portfolio .web .web-work-list li.work-li .title-btn-box .btn-list {
    width: auto;
    justify-content: space-between;
  }
}
#portfolio .web .web-work-list li.work-li .title-btn-box .btn-list li {
  width: 10%;
  max-width: 44px;
}
@media (min-width: 1024px) {
  #portfolio .web .web-work-list li.work-li .title-btn-box .btn-list li {
    width: 44px;
  }
}
#portfolio .web .web-work-list li.work-li .title-btn-box .btn-list li a {
  display: block;
}
#portfolio .web .web-work-list li.work-li .title-btn-box .btn-list li a:hover .icon-wrap::before {
  transform: translateX(100%);
  transition: transform 0.7s;
}
#portfolio .web .web-work-list li.work-li .title-btn-box .btn-list li a .icon-wrap {
  z-index: 1000000000000;
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid #b3d335;
  border-radius: 50%;
  background-color: #fafaf8;
}
#portfolio .web .web-work-list li.work-li .title-btn-box .btn-list li a .icon-wrap::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
#portfolio .web .web-work-list li.work-li .title-btn-box .btn-list li a .icon-wrap::before {
  z-index: -999;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  background-color: #131313;
  border-radius: 50%;
}
#portfolio .web .web-work-list li.work-li .title-btn-box .btn-list li a .icon-wrap img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 65%;
}
#portfolio .Design {
  margin-top: 65px;
}
@media (min-width: 1024px) {
  #portfolio .Design {
    display: flex;
  }
}
#portfolio .Design h2.portfolio-title {
  display: block;
  width: 37%;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-size: 3.3333rem;
  font-weight: 300;
  line-height: 3.0667rem;
  color: #b3d335;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  #portfolio .Design h2.portfolio-title {
    font-size: 8rem;
    line-height: 7.6rem;
  }
}
#portfolio .Design ul.design-work-list {
  display: grid;
  grid-gap: 0;
  border: none;
  grid-template-columns: 50% 50%;
}
@media (min-width: 1024px) {
  #portfolio .Design ul.design-work-list {
    width: 79.197%;
  }
}
#portfolio .Design ul.design-work-list li {
  width: 100%;
  height: 100%;
}
#portfolio .Design ul.design-work-list li a {
  border: none;
}
#portfolio .Design ul.design-work-list li a:hover div.out-box {
  border-radius: 50%;
}
#portfolio .Design ul.design-work-list li a div.out-box {
  position: relative;
  width: 100%;
  background-color: antiquewhite;
  border: none;
  transition: border-radius 0.35s;
}
#portfolio .Design ul.design-work-list li a div.out-box::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
#portfolio .Design ul.design-work-list li a div.out-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#contact {
  margin-top: 65px;
}
@media (min-width: 1024px) {
  #contact {
    margin-top: 207px;
    margin-bottom: 207px;
  }
}
#contact .section-title {
  color: #c2b2d7;
  margin-bottom: 40px;
}
#contact .section-title span {
  color: #c2b2d7;
}
@media (min-width: 1024px) {
  #contact .section-title {
    margin-bottom: 135px;
  }
}
#contact .address-list {
  width: 70%;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  #contact .address-list {
    display: flex;
    justify-content: space-between;
  }
}
#contact .address-list li {
  margin-bottom: 30px;
  text-align: center;
  transition-duration: 0.3s;
  transition-property: transform;
}
#contact .address-list li:hover {
  transform: scale(1.15);
}
@media (min-width: 1024px) {
  #contact .address-list li {
    margin-bottom: 0;
  }
}
#contact .address-list li h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #c2b2d7;
}
@media (min-width: 1024px) {
  #contact .address-list li h3 {
    font-size: 4.6667rem;
  }
}
#contact .address-list li p {
  font-size: 3.2rem;
  font-weight: 700;
  color: #c2b2d7;
}
@media (min-width: 1024px) {
  #contact .address-list li p {
    font-size: 4.6667rem;
  }
}
#contact .address-list li mail {
  font-size: 2.1333rem;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
}
#contact .address-list li mail:hover {
  color: #c2b2d7;
}
@media (min-width: 1024px) {
  #contact .address-list li mail {
    font-size: 3.2rem;
  }
}
#contact .address-list li a {
  font-size: 2.1333rem;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  color: #fafaf8;
}
#contact .address-list li a:hover {
  color: #c2b2d7;
}
@media (min-width: 1024px) {
  #contact .address-list li a {
    font-size: 3.2rem;
  }
}

/* footer */
footer {
  position: relative;
  width: 100%;
  height: 180px;
  background-color: #c2b2d7;
  text-align: center;
}
footer .footer-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
footer .footer-txt h2 {
  font-size: 2.4rem;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 600;
  color: #394191;
  margin-bottom: 25px;
}
footer .footer-txt p.right {
  font-size: 1.6rem;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 600;
  color: #394191;
  margin-bottom: 5px;
}
footer .footer-txt p.notice {
  font-size: 1.3rem;
  font-family: pretendard, sans-serif;
  line-height: 2.3rem;
  color: #394191;
}
@media (min-width: 1024px) {
  footer .footer-txt p.notice {
    text-wrap: nowrap;
  }
}/*# sourceMappingURL=index.css.map */