@import './style.scss';
@import './reset.scss';
@import './mixin.scss';

body {
    background-color: $black-color;
    position: relative;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
    @include responsive(large-screens) {
        padding: 0 10px;
    }
}
.blur-bg {
    position: absolute;
    top: -1%; left: 0;
    z-index: 299;
    transform: translateX(-110%);
    width: 100%; height: 100%;
    backdrop-filter: blur(20px);
}
.blur-bg.on {
    transform: translateX(0%);
}

.gradation-bg {
    position: absolute;
    z-index: -1;
    width: 100%; height: 50rem;
    background: radial-gradient(circle at 50% -10%, #b5a7d1 20%, #6c5c92 40%, #575d9c 60%, #131313 100%);
    filter: blur(40px);
    // -webkit-filter: blur(10px);
}

#topbtn {
    display: none;
    position: fixed;
    top: 90%; right: 5%;
    z-index: 99;
    width: 50px; height: 50px;
    border-radius: 25px;
    line-height: 50px;
    text-align: center;
    background-color: $lime-color;
    cursor: pointer;
    p {
        display: block;
        font-size: 1.5rem;
        font-family: $kor-font;
        color: $blue-color;
        font-weight: 500;
    }

    &:hover {
        animation: eff24-move 0.4s linear 1;
        background-color: $blue-color;
        p {
            color: $white-color;
        }
    }
    @keyframes eff24-move {
        30% {
            -webkit-transform: translate3d(0, -5px, 0) rotate(5deg);
            transform: translate3d(0, -5px, 0) rotate(5deg)
        }
        50% {
            -webkit-transform: translate3d(0, -3px, 0) rotate(-4deg);
            transform: translate3d(0, -3px, 0) rotate(-4deg)
        }
        80% {
            -webkit-transform: translate3d(0, 0, 0) rotate(-3deg);
            transform: translate3d(0, 0, 0) rotate(-3deg)
        }
        100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
        }
    }
}


/* header */
.logo-menu-box {
    height: 100%;
    .header-flex-box {
        width: 100%; height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;
        position: relative;
        .logo {
            h1 {
                font-family: $title-font;
                font-weight: 500;
                font-size: 2.66rem;
                animation: tracking-in-expand 0.7s;

                @include responsive(large-screens) {
                    font-size: 5.3333rem;
                }

                @keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
            }
        }
        .slide-open {
            @include responsive(large-screens) {
                display: none;
            }
        }
        @include responsive(small-screens) {
            .menu {
                z-index: 300;
                transform: translate(-110%);
                display: block;
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                transition: transform 0.3s;
                background: transparent;
                // backdrop-filter: blur(20px);

                li {
                    a {
                        text-align: center;
                        display: block;
                        padding: 20px;
                        font-size: 2.5rem;
                        color: $white-color;
                        -webkit-transform: perspective(1px) translateZ(0);
                        transform: perspective(1px) translateZ(0);
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        -webkit-transition-property: transform;
                        transition-property: transform;

                        &:hover {
                            transform: scale(0.9);
                        }
                    }
                }
            }
            .menu.on {
                transform: translate(0%);
            }
        }
        .menu {
            @include responsive(large-screens) {
                position: relative;
                transform: translate(0%);
                display: block;
                width: 50%;
                backdrop-filter: blur(0px);
                background-color: transparent;
            }
            .gnb {
                @include responsive(large-screens) {
                    display: flex;
                    justify-content: space-between;
                }
                

                li {
                    @include responsive(large-screens) {
                        font-family: $title-font;
                        font-weight: 400;
                        font-size: 2.5rem;
                        a {
                            color: $white-color;
                            background-color: transparent;
                            border-bottom: none;
                            backdrop-filter: none;
                            border-bottom: 0;
                            -webkit-transform: perspective(1px) translateZ(0);
                            transform: perspective(1px) translateZ(0);
                            -webkit-transition-duration: 0.3s;
                            transition-duration: 0.3s;
                            -webkit-transition-property: transform;
                            transition-property: transform;

                            &:hover {
                                -webkit-transform: scale(0.9);
                                transform: scale(0.9);
                            }


                        }
                    }
                }
            }
        }
    } //header-flex-box
} //logo-menu-box

/* main */
.intro {
    margin-top: 3.5rem;
    margin-bottom: 8rem;
    @include responsive(large-screens) {
        margin-top: 10rem;
        margin-bottom: 20.8rem;
    }
    .txt-img-box {
        display: flex;
        flex-direction: column-reverse;

        @include responsive(large-screens) {
            position: relative;
            flex-direction: row;
            justify-content: space-between;
        }

        .txt {
            @include responsive(large-screens) {
                width: 55%;
            }
            h2 {
                font-family: $title-font;
                font-weight: 600;
                font-size: 6.667rem;
                line-height: 6.26rem;
                margin-bottom: 2.5rem;
                opacity: 0;
                animation: focus-in-expand 0.7s 0.5s forwards;

                @include responsive(large-screens) {
                    font-size: 7.67rem;
                    line-height: 6.5rem;
                    margin-bottom: 5rem;
                }
                @keyframes focus-in-expand{0%{letter-spacing:-.5em;filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
            }
            p {
                font-family: $kor-font;
                font-weight: 500;
                font-size: 1.6rem;

                @include responsive(large-screens) {
                    font-size: 2.1rem;
                    line-height: 3.2rem;
                }
            }
            #first-intro {
                margin-bottom: 2rem;
                animation: text-focus-in 0.7s;

                @keyframes text-focus-in {
                    0% {-webkit-filter: blur(12px); filter: blur(12px); opacity: 0;}
                    100% {-webkit-filter: blur(0px); filter: blur(0px); opacity: 1;}
                }
            }
            #last-intro {
                margin-bottom: 4.7rem;
            }
            ul {
                width: 53%;
                margin: 0 auto;
                text-align: center;

                @include responsive(large-screens) {
                    display: flex;
                    justify-content: space-between;
                    width: 552.19px;
                    text-align: left;
                    margin: 0;
                }
                li {
                    opacity: 0;
                    &:first-child {
                        h3 {
                            color: $lime-color;
                        }
                        &:hover {
                                -webkit-transform: perspective(1px) translateZ(0);
                                transform: perspective(1px) translateZ(0);
                                -webkit-transition-duration: 0.3s;
                                transition-duration: 0.3s;
                                -webkit-transition-property: transform;
                                transition-property: transform;
                                -webkit-transform: scale(1.15) rotate(4deg);
                                transform: scale(1.15) rotate(4deg);
                        }
                    }
                    &:first-child {
                        animation: text-focus-in 1s 1.5s forwards;
                    }
                    &:nth-child(2) {
                        h3 {
                            color: $blue-color;
                        }
                        &:hover {
                            -webkit-transform: perspective(1px) translateZ(0);
                            transform: perspective(1px) translateZ(0);
                            -webkit-transition-duration: 0.3s;
                            transition-duration: 0.3s;
                            -webkit-transition-property: transform;
                            transition-property: transform;
                            -webkit-transform: scale(1.15) rotate(4deg);
                            transform: scale(1.15) rotate(4deg);
                        }
                    }
                    &:nth-child(2) {
                        animation: text-focus-in 1s 2.2s forwards;
                    }
                    &:last-child {
                        h3 {
                            color: $purple-color;
                        }
                        &:hover {
                            -webkit-transform: perspective(1px) translateZ(0);
                            transform: perspective(1px) translateZ(0);
                            -webkit-transition-duration: 0.3s;
                            transition-duration: 0.3s;
                            -webkit-transition-property: transform;
                            transition-property: transform;
                            -webkit-transform: scale(1.15) rotate(4deg);
                            transform: scale(1.15) rotate(4deg);
                        }
                    }
                    &:last-child {
                        animation: text-focus-in 1s 2.9s forwards;
                    }

                    @-webkit-keyframes text-focus-in {
                        0% {
                            -webkit-filter: blur(12px);
                            filter: blur(12px);
                            opacity: 0;
                        }
                        100% {
                            -webkit-filter: blur(0px);
                            filter: blur(0px);
                            opacity: 1;
                        }
                    }
                    @keyframes text-focus-in {
                        0% {
                            -webkit-filter: blur(12px);
                            filter: blur(12px);
                            opacity: 0;
                        }
                        100% {
                            -webkit-filter: blur(0px);
                            filter: blur(0px);
                            opacity: 1;
                        }
                    }
                    margin-bottom: 3rem;
                    h3 {
                        font-family: $kor-font;
                        font-weight: 600;
                        font-size: 3.2rem;
                        margin-bottom: 1rem;
                    }
                    p {
                        font-family: $kor-font;
                        font-weight: 300;
                        font-size: 1.86rem;
                    }
                } //li
            } //ul
        } //txt
        .img {
            width: 100%;
            animation: tossing 2s linear infinite;
            @include responsive(large-screens) {
                position: absolute;
                right: 0; top: -6rem;
                width: 58%;
            }
            @keyframes tossing {
                0% {
                    transform: rotate(-4deg);	
                }
                50% {
                    transform: rotate(4deg);
                }
                100% {
                    transform: rotate(-4deg);	
                }						
            }
            
            @-webkit-keyframes tossing {
                0% {
                    -webkit-transform: rotate(-4deg);	
                }
                50% {
                    -webkit-transform: rotate(4deg);
                }
                100% {
                    -webkit-transform: rotate(-4deg);	
                }				
            }
        }
    } //txt-img-box
} //intro

.section-title {
    font-family: $pare-font;
    font-weight: 300;
    font-size: 6rem;
    color: $lime-color;
    text-align: center;
    opacity: 0;

    @include responsive(large-screens) {
        font-size: 18.3rem;
    }
    span {
        display: contents;
        font-family: $title-font;
        color: $lime-color;
        white-space: nowrap;
    }
}
.section-title.active{
    animation: tracking-in-expand 1s forwards;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}


#about-me {
    margin-bottom: 150px;
    @include responsive(large-screens) {
        margin-bottom: 208px;
    }
    .section-intro-txt {
        margin-top: 4rem;
        margin-bottom: 5rem;
        @include responsive(large-screens) {
            margin-top: 138px;
            margin-bottom: 114px;
        }
        h3 {
            font-family: $title-font;
            font-weight: 600;
            font-size: 3.2rem;
            color: $lime-color;
            margin-bottom: 1rem;

            @include responsive(large-screens) {
                font-size: 8rem;
            }
        }
        p {
            font-family: $tag-font;
            font-weight: 400;
            font-size: 2.13rem;

            @include responsive(large-screens) {
                font-size: 4rem;
            }
        }
    } //section-intro-txt
    .img-txt-box {
        @include responsive(large-screens) {
            display: grid;
            grid-template-columns: 60% 40%;
            width: 100%; height: 200%;
            align-items: center;
        }
        .circled-box {
            position: relative;
            width: 85.555%;
            margin: 0 auto;


            &:after {
                display: block;
                content: " ";
                padding-bottom: 100%;
            }
            .gradation-circle {
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                margin: 0 auto;
                background: linear-gradient(to bottom right, #d1c9e4 30%, #f2f8ff 70%, #bedb6b 100%);
                filter: blur(5px);
            }
            .black-circle {
                position: absolute;
                left: 50%; top: 50%;
                transform: translate(-50%, -50%);
                width: 97%; height: 97%;
                background-color: #131313;
                border-radius: 50%;
            }
            .deco-circle {
                position: absolute;
                top: 17%; left: 25%;
                width: 60%; height: 60%;
                border-radius: 50%;
                background: linear-gradient(to bottom, #e5ea95 50%, #bedb6b 100%);
            }
            .me {
                position: absolute;
                top: 50%; left: 40%;
                transform: translate(-50%, -50%);
                width: 65%;
            }
        } //.circled-box

        .about-txt {
            margin-top: 45px;
            @include responsive(large-screens) {
            }

            .txt-list {
                li.main-tag {
                    margin-bottom: 3rem;
                    @include responsive(large-screens) {
                        margin-bottom: calc(50px + 1vh);
                    }

                    &:nth-child(1) {
                        @include responsive(large-screens) {
                            margin-left: -30%;
                        }
                    }
                    &:nth-child(2) {
                        @include responsive(large-screens) {
                            margin-left: 0%;
                        }
                    }
                    &:nth-child(3) {
                        @include responsive(large-screens) {
                            margin-left: 13%;
                        }
                    }
                    &:nth-child(4) {
                        @include responsive(large-screens) {
                            margin-left: 13%;
                        }
                    }
                    &:nth-child(5) {
                        @include responsive(large-screens) {
                            margin-left: 0%;
                            width: 200%;
                        }
                    }
                    &:nth-child(6) {
                        @include responsive(large-screens) {
                            margin-left: -30%;
                            width: 170%;
                        }
                    }

                    h4 {
                        font-family: $tag-font;
                        font-size: 2.4rem;
                        color: $lime-color;
                        margin-bottom: 1rem;
                        @include responsive(large-screens) {
                            font-size: 4.66rem;
                        }
                    }
                    .flex-txt {
                        display: flex;
                        gap: 3.88%;
                        margin-bottom: 0.8rem;
                        align-items: center;
                        h5 {
                            font-family: $title-font;
                            font-size: 1.86rem;
                            font-weight: 500;
                            @include responsive(large-screens) {
                                font-size: 2.93rem;
                            }
                        }
                        p {
                            font-family: $kor-font;
                            font-size: 1.6rem;
                            font-weight: 400;
                            margin-bottom: 4px;
                            @include responsive(large-screens) {
                                font-size: 2.93rem;
                            }
                        }
                    }
                    .character-list,
                    .inter-list {
                        display: flex;
                        gap: 10px;
                        flex-wrap: wrap;

                        @include responsive(large-screens) {
                            width: 55%;
                        }
                        
                        li {
                            font-size: 1.6rem;
                            margin: 0;
                            @include responsive(large-screens) {
                                font-size: 2.93rem;
                            }
                        }
                    }
                }
            }
        }
    } //.img-txt-box
} //about-me

#myskills {
    margin-bottom: 150px;
    @include responsive(large-screens) {
        margin-bottom: 207px;
    }
    h2.section-title {
        margin-bottom: 40px;
        color: $purple-color;

        #title-txt {
            color: $purple-color;
        }

        @include responsive(large-screens) {
            margin-bottom: 143px;
        }
    }
    .skill-list {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap: 2%;
        
        @include responsive(large-screens) {
            grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
            grid-template-rows: 53% 53%;
            grid-gap: 2%;
        }
        li {
            width: 100%;
            .squared-box {
                width: 100%;
                position: relative;

                &:after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }
                .gradient-square {
                    // display: none;
                    width: 100%; height: 100%;
                    position: absolute;
                    background: linear-gradient(to right bottom, #d9d3e6 30%, #908fc6 60%, #695490 100%);
                    border-radius: 10%;
                    filter: blur(3px);
                }
                .black-square {
                    position: absolute;
                    top: 50%; left: 50%;
                    transform: translate(-50%, -50%);
                    width: 98%; height: 98%;
                    border-radius: 10%;
                    padding: 12%;

                    background-color: $black-color;
                    transition: background-color 0.5s,;

                    .skill-title {
                        position: relative;
                        width: 100%; height: 100%;
                        strong {
                            font-size: 1.7rem;
                            font-family: $title-font;
                            font-weight: 300;
                            margin-bottom: 5px;

                            transition: font-size 0.5s;

                            @include responsive(large-screens) {
                                font-size: 2.6667rem;
                                margin-bottom: 10px;
                                transition: font-size 0.5s;
                            }
                        }
                        h3.persent {
                            font-size: 3.9rem;
                            font-family: $title-font;
                            font-weight: 700;
                            color: $purple-color;

                            transition: font-size 0.5s;

                            @include responsive(large-screens) {
                                font-size: 6.6667rem;
                                transition: font-size 0.5s;
                            }
                        }

                        .icon {
                            position: absolute;
                            width: 30%; height: 30%;
                            right: 0; bottom: 0;
                            transition: position 0.5s;
                            transition: top 1.5s;
                            transition: right 1.5s;
                            transition: width 0.7s;
                            transition: height 0.7s;


                            @include responsive(large-screens) {
                                width: 37%; height: 37%;
                            }
                            
                            img {
                                width: 100%; height: 100%;
                            }
                        } //icon
                    } //skill-title
                    .hover-txt {
                        display: none;
                    }
                } //blcak-square

                .black-square.skillHover {
                    background: rgba($color: #131313, $alpha: 0.6);

                    .skill-title.skillHover {
                            strong.skillHover {
                                font-size: 1.2rem;
                                @include responsive(large-screens) {
                                    font-size: 2rem;
                                }

                            }
                            h3.skillHover {
                                font-size: 3rem;
                                @include responsive(large-screens) {
                                    font-size: 4.8rem;
                                }
                            }
                        .icon.skillHover {
                            position: absolute;
                            top: 0; right: 0;
                            width: 27%; height: 27%;
                        }
                        .hover-txt.skillHover {
                            display: block;
                            position: absolute;
                            bottom: 0; left: 0;
                            width: 100%;

                            p.skillHover {
                                font-size: 1.6rem;
                                line-height: 2rem;

                                @include responsive(large-screens) {
                                    font-size: 1.3rem;
                                }
                            }
                        }
                    }
                }
            } //squared-box
        }
    } //skill-list
} //my-skills

#portfolio {
    h2.section-title {
        margin-bottom: 150px;
        @include responsive(large-screens) {
            margin-bottom: 207px;
        }
    }
    .web {
        @include responsive(large-screens) {
            display: flex;
            gap: 18%;
        }
        .portfolio-title {
            display: block;
            width: 37%;
            font-family: $title-font;
            font-size: 3.3333rem;
            font-weight: 300;
            line-height: 3.0667rem;
            color: $lime-color;
            margin-bottom: 40px;

            @include responsive(large-screens) {
                font-size: 8rem;
                line-height: 7.6rem;
            }
        }
        .web-work-list {
            li.work-li {
                margin-bottom: 40px;
                &:hover {
                    img {
                        transform: scale(1.05);
                    }
                }
                @include responsive(large-screens) {
                    margin-bottom: 56px;
                }
                img {
                    width: 100%;
                    margin-bottom: 15px;
                    transition: transform 0.5s;
                    @include responsive(large-screens) {
                        margin-bottom: 25px;
                    }
                }
                .title-btn-box {
                    @include responsive(large-screens) {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .work-title {
                        margin-bottom: 15px;
                        @include responsive(large-screens) {
                            margin: 0;
                        }

                        h4 {
                            font-family: $kor-font;
                            font-size: 2.4rem;
                            font-weight: 600;
                            color: $lime-color;
                            margin-bottom: 8px;
                            @include responsive(large-screens) {
                                font-size: 3.5rem;
                            }
                        }
                        .work-tag-list {
                            display: flex;
                            gap: 8px;
                            li {
                                font-family: $tag-font;
                                font-size: 0.9rem;
                                @include responsive(large-screens) {
                                    font-size: 1.7rem;
                                }
                            }
                        }
                    } //work-title
                    .btn-list {
                        display: flex;
                        gap: 13px;
                        @include responsive(large-screens) {
                            width: auto;
                            justify-content: space-between;
                        }
                        li {
                            width: 10%;
                            max-width: 44px;
                            @include responsive(large-screens) {
                                width: 44px;
                            }
                            a {
                                display: block;
                                &:hover {
                                    .icon-wrap::before {
                                        transform: translateX(100%);
                                        transition: transform 0.7s;
                                    }
                                }
                                .icon-wrap {
                                    z-index: 1000000000000;
                                    position: relative;
                                    width: 100%; height: 100%;
                                    border: 2px solid $lime-color;
                                    border-radius: 50%;
                                    background-color: $white-color;

                                    &::after {
                                        display: block;
                                        content: "";
                                        padding-bottom: 100%;
                                    }

                                    &::before {
                                        z-index: -999;
                                        content: '';
                                        position: absolute;
                                        left: 50%; top: 50%;
                                        transform: translate(-50%, -50%);
                                        width: 120%; height: 120%;
                                        background-color: $black-color;
                                        border-radius: 50%;
                                    }

                                    img {
                                        position: absolute;
                                        left: 50%; top: 50%;
                                        transform: translate(-50%, -50%);
                                        width: 65%;
                                        height: 65%;
                                    }
                                }
                            } //a
                        } //li
                    } //btn-list
                } //title-btn-box
            }
        }
    } //web

    .Design {
        margin-top: 65px;
        @include responsive(large-screens) {
            display: flex;
        }
        h2.portfolio-title {
            display: block;
            width: 37%;
            font-family: $title-font;
            font-size: 3.3333rem;
            font-weight: 300;
            line-height: 3.0667rem;
            color: $lime-color;
            margin-bottom: 40px;

            @include responsive(large-screens) {
                font-size: 8rem;
                line-height: 7.6rem;
            }
        }
        ul.design-work-list {
            display: grid;
            grid-gap: 0;
            border: none;
            grid-template-columns: 50% 50%;
            @include responsive(large-screens) {
                width: 79.197%;
            }

            li {
                width: 100%; height: 100%;
                a {
                    border: none;
                    div.out-box {
                        position: relative;
                        width: 100%;
                        max-width: 483.922px;
                        border: none;

                        &::after {
                            display: block;
                            content: '';
                            padding-bottom: 100%;
                        }
                        #detail {
                            position: absolute;
                            top: 0; left: 0;
                            width: 100%;
                            height: 100%;
                            border: none;
                            transition: background-size 0.5s;
                            background: url(../images/detialpage1.jpg) center center no-repeat;
                        }
                        #package {
                            position: absolute;
                            top: 0; left: 0;
                            width: 100%;
                            height: 100%;
                            border: none;
                            transition: background-size 0.5s;
                            background: url(../images/package1.jpg) center center no-repeat;
                        }
                        #banner {
                            position: absolute;
                            top: 0; left: 0;
                            width: 100%;
                            height: 100%;
                            border: none;
                            transition: background-size 0.5s;
                            background: url(../images/banner1.jpg) center center no-repeat;
                        }
                        #cardnews {
                            position: absolute;
                            top: 0; left: 0;
                            width: 100%;
                            height: 100%;
                            border: none;
                            transition: background-size 0.5s;
                            background: url(../images/cardnews1.jpg) center center no-repeat;
                        }
                        #characterDrawing {
                            position: absolute;
                            top: 0; left: 0;
                            width: 100%;
                            height: 100%;
                            border: none;
                            transition: background-size 0.5s;
                            background: url(../images/character-drawing.jpg) center center no-repeat;
                        }
                        #infographic {
                            position: absolute;
                            top: 0; left: 0;
                            width: 100%;
                            height: 100%;
                            border: none;
                            transition: background-size 0.5s;
                            background: url(../images/infographic1.jpg) center center no-repeat;
                        }
                        div.hover-black-box {
                            display: none;
                            transition: transform 0.5s;
                            transition: z-index 0.5s;
                        }
                        div.hover-black-box.hoverstyle {
                            display: block;
                            z-index: 1000;
                            position: absolute;
                            top: 0; left: 0;
                            width: 100%; height: 100%;
                            background: rgba($color: $black-color, $alpha: 0.8);
                            padding: 5%;
                            @include responsive(large-screens) {
                                padding: 6.5%;
                            }
                            div.text-box {
                                position: relative;
                                width: 100%; height: 100%;
                                h2 {
                                    font-family: $kor-font;
                                    font-size: 3rem;
                                    color: $lime-color;
                                    @include responsive(large-screens) {
                                        font-size: 5rem;
                                    }
                                }
                                .work-sub-txt {
                                    position: absolute;
                                    bottom: 0;
                                    p {
                                        color: $white-color;
                                        &:first-of-type {
                                            font-family: $title-font;
                                        }
                                        font-size: 1.4rem;
                                        font-family: $kor-font;
                                        @include responsive(large-screens) {
                                            font-size: 2rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                } //a
            } //li
        } //design-work-list
    }//.Design
} //portfolio

#contact {
    margin-top: 65px;

        @include responsive(large-screens) {
            margin-top: 207px;
            margin-bottom: 207px;
        }

    .section-title {
        color: $purple-color;
        margin-bottom: 40px;
        span {
            color: $purple-color;
        }

        @include responsive(large-screens) {
            margin-bottom: 135px;
        }
    }

    .address-list {
        width: 70%;
        margin: 0 auto;

        @include responsive(large-screens) {
            display: flex;
            justify-content: space-between;
        }

        li {
            margin-bottom: 30px;
            text-align: center;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            
            &:hover {
                -webkit-transform: scale(1.15);
                transform: scale(1.15);
            }

            @include responsive(large-screens) {
                margin-bottom: 0;
            }


            h3 {
                font-size: 3.2rem;
                font-weight: 700;
                color: $purple-color;

                @include responsive(large-screens) {
                    font-size: 4.6667rem;
                }
                

            }
            p {
                font-size: 3.2rem;
                font-weight: 700;
                color: $purple-color;

                @include responsive(large-screens) {
                    font-size: 4.6667rem;
                }
            }
            a.mail {
                font-size: 2.1333rem;
                font-family: $tag-font;
                font-weight: 400;

                &:hover {
                    color: $purple-color;
                }
                @include responsive(large-screens) {
                    font-size: 3.2rem;
                }
            }
            a {
                font-size: 2.1333rem;
                font-family: $tag-font;
                font-weight: 400;
                color: $white-color;

                &:hover {
                    color: $purple-color;
                }
                @include responsive(large-screens) {
                    font-size: 3.2rem;
                }
            }
        }
    }//address-list
} // contact

/* footer */
footer {
    position: relative;
    width: 100%; height: 180px;
    background-color: $purple-color;
    text-align: center;

    .footer-txt {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        h2 {
            font-size: 2.4rem;
            font-family: $title-font;
            font-weight: 600;
            color: $blue-color;
            margin-bottom: 25px;
        }
        p.right {
            font-size: 1.6rem;
            font-family: $title-font;
            font-weight: 600;
            color: $blue-color;
            margin-bottom: 5px;
        }
        p.notice {
            font-size: 1.3rem;
            font-family: $kor-font;
            line-height: 2.3rem;
            color: $blue-color;

            @include responsive(large-screens) {
                text-wrap: nowrap;
            }

        }
    }
}