//width
$break-small: 360px;
$break-large: 1024px;

// color-system
$lime-color: #b3d335;
$blue-color: #394191;
$purple-color: #c2b2d7;
$white-color: #fafaf8;
$black-color: #131313;

//font
$tag-font: acumin-pro, sans-serif;
$kor-font: pretendard, sans-serif;
$pare-font: amandine, sans-serif;
$title-font: itc-avant-garde-gothic-pro, sans-serif;